@model Web2Project.ViewModels.Users.CreateVM
@using Web2Project.Entities
@{
    this.Layout = "/Views/_Site.cshtml";
    ViewData["title"] = "Create";
}

<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="/css/UserViewExp.css" />
    <link rel="stylesheet" href="/css/LoginNo1.css" />
</head>

<body>
    <div style="display:grid" class="registerDiv">
     
            
            <form action="/Users/Create" method="post" class="loginForm">
                <div class="grid">

                    @*<div class="row">
                        <div class="col-1">
                            Username:
                        </div>
                        <div class="col-2">
                            @Html.TextBoxFor(f=>f.Username)
                        </div>
                    </div>*@

                    <div class="loginDivs">
                    <label for="Username" style="color:#aaffff;">
                            @Html.LabelFor(n => n.Username)
                </label>
                <input type="text" name="Username" class="inputUP"><br>


            </div>

                    @*<div class="row">
                        <div class="col-1">
                            Password:
                        </div>
                        <div class="col-2">
                            @Html.PasswordFor(f=>f.Password)
                            <span class="text-danger"></span>
                        </div>
                    </div>*@

                    <div class="loginDivs">
                    <label for="Password" style="color:#aaffff;">
                            @Html.LabelFor(n => n.Password)
                </label>
                        <input type="password" name="Password" class="inputUP"><br>
            </div>

                    @*<div class="row">
                        <div class="col-1">
                            First Name:
                        </div>
                        <div class="col-2">
                            @Html.TextBoxFor(f=>f.FirstName)
                        </div>
                    </div>*@


                    <div class="loginDivs">
                        <label for="FirstName" style="color:#aaffff;">
                            @Html.LabelFor(n => n.FirstName)
                        </label>
                        <input type="text" name="FirstName" class="inputUP"><br>
                    </div>

                   @* <div class="row">
                        <div class="col-1">
                            Last Name:
                        </div>
                        <div class="col-2">
                            @Html.TextBoxFor(f=>f.LastName)
                        </div>
                    </div>*@


                    <div class="loginDivs">
                        <label for="LastName" style="color:#aaffff;">
                            @Html.LabelFor(n => n.LastName)
                        </label>
                        <input type="text" name="LastName" class="inputUP"><br>
                    </div>


                    @*<div class="row">
                        <div class="col-1">
                            Email Address:
                        </div>
                        <div class="col-2">
                            @Html.TextBoxFor(f=>f.EmailAddress)
                        </div>
                    </div>*@

                    <div class="loginDivs">
                        <label for="EmailAddress" style="color:#aaffff;">
                            @Html.LabelFor(n => n.EmailAddress)
                        </label>
                        <input type="text" name="EmailAddress" class="inputUP"><br>
                    </div>


                   @* <div class="row">
                        <div class="col-1">
                            Phone Number:
                        </div>
                        <div class="col-2">
                            @Html.TextBoxFor(f=>f.PhoneNumber)
                        </div>
                    </div>*@


                    <div class="loginDivs">
                        <label for="PhoneNumber" style="color:#aaffff;">
                            @*@Html.LabelFor(n => n.PhoneNumber)*@
                            @Html.DisplayName("Phone Number")
                        </label>
                        <input type="text" name="PhoneNumber" class="inputUP"><br>
                    </div>

                    @*<div class="grid">
                    <div class="col-1">
                    Select Your Skills In Programming:
                    </div>

                    @foreach (Skills skill in Model.SkillList)
                    {
                    <div class="row">
                    <div class="col-1">@skill.SkillName</div>
                    </div>

                    }

                    </div>*@

                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-2" style="display:grid; margin-top:25px">
                        <input class="loginButton" type="submit" value="Save" style="height: 25px;" />
                        </div>
                    </div>
                </div>
            </form>

    </div>
</body>