@model Web2Project.ViewModels.Users.CreateVM
@using Web2Project.Entities
@{
    this.Layout = "/Views/_Site.cshtml";
    ViewData["title"] = "Create";
}

<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="/css/UserViewExp.css" />
    <link rel="stylesheet" href="/css/LoginNo1.css" />
</head>

<body>
    <div style="display:grid" class="registerDiv">


        <form action="/Users/Create" method="post" class="loginForm">
            <div class="grid">

                <div class="loginDivs">
                    <label for="Username" style="color:#aaffff;">
                        @Html.LabelFor(n => n.Username)
                    </label>
                    <input type="text" name="Username" class="inputUP"><br>


                </div>

                <div class="loginDivs">
                    <label for="Password" style="color:#aaffff;">
                        @Html.LabelFor(n => n.Password)
                    </label>
                    <input type="password" name="Password" class="inputUP"><br>
                </div>

                <div class="loginDivs">
                    <label asp-for="FirstName" style="color:#aaffff;">
                        @Html.DisplayName("First Name")
                    </label>
                    <input type="text" name="FirstName" class="inputUP"><br>
                </div>

                <div class="loginDivs">
                    <label asp-for="LastName" style="color:#aaffff;">
                        @Html.DisplayName("Last Name")
                    </label>
                    <input type="text" name="LastName" class="inputUP"><br>
                </div>

                <div class="loginDivs">
                    <label asp-for="EmailAddress" style="color:#aaffff;">
                        @Html.DisplayName("Email Address")
                    </label>
                    <input type="text" name="EmailAddress" class="inputUP"><br>
                </div>

                <div class="loginDivs">
                    <label for="PhoneNumber" style="color:#aaffff;">
                        @Html.DisplayName("Phone Number")
                    </label>
                    <input type="text" name="PhoneNumber" class="inputUP"><br>
                </div>

                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-2" style="display:grid; margin-top:25px">
                        <input class="loginButton" type="submit" value="Save" style="height: 25px;" />
                    </div>
                </div>
            </div>
        </form>

    </div>
</body>